APP_NAME = Gitea: Git with a cup of tea
RUN_USER = gitea
RUN_MODE = prod

[database]
DB_TYPE  = sqlite3
HOST     = 
NAME     = 
USER     = 
PASSWD   = 
SSL_MODE = disable
PATH     = /opt/gitea/data/gitea.db

[repository]
ROOT = /opt/gitea/gitea-repositories

[server]
SSH_DOMAIN   = 
HTTP_PORT    = {{ tcp_port }}
ROOT_URL     = http://{{ ansible_eth1.ipv4.address }}:{{ tcp_port }}/
DISABLE_SSH  = false
SSH_PORT     = 22
OFFLINE_MODE = false

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL     = false
DISABLE_REGISTRATION   = false
ENABLE_CAPTCHA         = false
REQUIRE_SIGNIN_VIEW    = false

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = /opt/gitea/log

[security]
INSTALL_LOCK = true
SECRET_KEY   = bTju61YA16

