server {
    listen 80;
    server_name gitea.example.com {{ ansible_eth1.ipv4.address }};

    location / {
        proxy_pass http://127.0.0.1:{{ tcp_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

